@charset "UTF-8";
/* 마진(margin) */
/* 색상표 */
/* 폰트 */
/* 폰트 사이즈 */
/* 트랜지션(transition) */
/* 마진(margin) */
/* 색상표 */
/* 폰트 */
/* 폰트 사이즈 */
/* 트랜지션(transition) */
/* 폰트 스타일(size, weight, line-height...) */
/* 마진(margin) */
/* 색상표 */
/* 폰트 */
/* 폰트 사이즈 */
/* 트랜지션(transition) */
/* 마진(margin) */
/* 색상표 */
/* 폰트 */
/* 폰트 사이즈 */
/* 트랜지션(transition) */
/* 폰트 스타일(size, weight, line-height...) */
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: #333;
}

html {
  font-size: 0.5208vw;
}

body {
  position: relative;
  font-family: "SUIT", -apple-system, Apple SD Gothic Neo, 맑은 고딕, Malgun Gothic, sans-serif;
  height: 100%;
}
body.no-scroll {
  overflow-y: hidden;
}
body::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}
body::-webkit-scrollbar-thumb {
  background: #444;
  outline: none;
  border: 0.2rem solid transparent;
  border-radius: 0.5rem;
}

/* header */
header .inner {
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  padding: 1.8rem 10rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  transition: transform 0.3s ease;
  --webkit-transform: all 0.3s ease;
}
header .inner .logo {
  width: 12.5rem;
  height: 3rem;
  background: url(../../img/logo_black.png) no-repeat left/contain;
  transition: background 0.6s ease;
  --webkit-transform: background 0.6s ease;
}
header .inner .hamburger {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
header .inner .hamburger .hamburger_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 1rem;
  transition: all 0.3s ease-in-out;
}
header .inner .hamburger .hamburger_box .line {
  display: block;
  background-color: #333;
  width: 100%;
  height: 0.25rem;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
header .inner .hamburger .hamburger_box .line-1 {
  top: 0;
}
header .inner .hamburger .hamburger_box .line-2 {
  top: 100%;
}
header .inner .hamburger .hamburger_box.active .line-1 {
  background-color: #333;
  transform: translateY(0.5rem) translateX(0) rotate(45deg);
}
header .inner .hamburger .hamburger_box.active .line-2 {
  background-color: #333;
  transform: translateY(-0.5rem) translateX(0) rotate(-45deg);
}
header .inner.hide {
  transform: translateY(-100%);
}
header .inner.white .logo {
  background: url(../../img/logo_white.png) no-repeat left/contain;
}
header .inner.white .hamburger .hamburger_box .line {
  background-color: #fff;
}
header .menu {
  position: fixed;
  visibility: hidden;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 24rem;
  background-image: url(../../img/menu_bg.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  transform: translateY(-100%);
  transition: all 0.6s ease;
  -webkit-transform: all 0.6s ease;
}
header .menu.on {
  visibility: visible;
  transform: translateY(0);
}
header .menu-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 51rem;
  justify-content: space-between;
  width: 100%;
}
header .menu-wrap .category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .menu-wrap .category li a {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.048rem;
  color: #333;
  position: relative;
}
header .menu-wrap .category li a::before {
  content: "";
  background-image: url(../../img/menu-hover-arrow.png);
  background-size: 5rem 5rem;
  position: absolute;
  left: -8rem;
  top: 8%;
  opacity: 0;
  width: 5rem;
  height: 5rem;
}
header .menu-wrap .category li a:hover {
  color: #1d68fd;
}
header .menu-wrap .category li a:hover::before {
  opacity: 1;
}
header .menu-wrap .info-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
header .menu-wrap .info-wrap .slogan h3 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.048rem;
  margin-bottom: 3.8rem;
}
header .menu-wrap .info-wrap .slogan p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.02rem;
  color: #888;
}
header .menu-wrap .info-wrap .info {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 2rem;
  grid-template-columns: 3fr 2fr;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 0.6rem;
}
header .menu-wrap .info-wrap .info .company {
  grid-column: 1/3;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.024rem;
}
header .menu-wrap .info-wrap .info .contact {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.028rem;
}
header .menu-wrap .info-wrap .info .contact li:not(:last-child) {
  margin-bottom: 1.6rem;
}
header .menu-wrap .info-wrap .info .contact span {
  color: #444;
}
header .menu-wrap .info-wrap .info .contact span.type {
  display: inline-block;
  width: 7rem;
}
header .menu-wrap .info-wrap .info .sns_link {
  display: flex;
  flex-direction: row;
}
header .menu-wrap .info-wrap .info .sns_link a {
  width: 4rem;
  height: 4rem;
}
header .menu-wrap .info-wrap .info .sns_link a:not(:last-child) {
  margin-right: 3rem;
}

/* // header */
/* footer */
footer {
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-template-rows: 1fr auto;
  background-color: #333;
  padding: 0 10rem;
  height: 75.6rem;
  position: relative;
  align-items: center;
}
footer .company h4 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.048rem;
  color: #fff;
  margin-bottom: 2rem;
}
footer .company span {
  color: #888;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.032rem;
}
footer .company .sns_link {
  height: 7rem;
  display: flex;
  flex-direction: row;
  margin-top: 6rem;
}
footer .company .sns_link a {
  border-radius: 50%;
  border: solid 0.1rem #888;
  cursor: pointer;
  height: 7rem;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .company .sns_link a:not(:last-child) {
  margin-right: 2rem;
}
footer .company .sns_link a img {
  width: 2.4rem;
  height: 2.4rem;
}
footer .next {
  cursor: pointer;
}
footer .next a {
  position: relative;
  color: #fff;
  font-size: 15rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.3rem;
}
footer .next a::after {
  content: "";
  position: absolute;
  background-image: url(../../img/footer-arrow.png);
  background-size: 13rem 13rem;
  right: -60%;
  top: 18%;
  width: 13rem;
  height: 13rem;
  transition: right 0.2s ease-in-out;
  --webkit-transition: right 0.2s ease-in-out;
}
footer .next:hover a::after {
  right: -70%;
}
footer .info-wrap {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 7fr 5fr;
  margin-bottom: 3rem;
}
footer .info-wrap .info {
  align-items: end;
  display: flex;
  flex-direction: row;
}
footer .info-wrap .info ul:not(:last-child) {
  margin-right: 3rem;
}
footer .info-wrap .info ul li {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.012rem;
  display: inline;
}
footer .info-wrap .info ul li.type {
  color: #eeeef0;
  margin-right: 1.2rem;
}
footer .info-wrap .info ul li.desc {
  color: #888;
}
footer .info-wrap .info.right {
  justify-content: space-between;
}
footer .info-wrap .info.right .ul-item {
  margin-left: 1.5rem;
}
footer .info-wrap .info.right .ul-item ul:first-child {
  margin-bottom: 0.8rem;
}
footer .info-wrap .info.right .desc {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.012rem;
  display: inline;
  color: #888;
}
footer .goTop {
  position: absolute;
  right: 10rem;
  top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border: 0.1rem solid #888;
  border-radius: 50%;
  cursor: pointer;
}
footer .goTop span {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.012rem;
  color: #eeeef0;
}

/* // footer */
/* 마진(margin) */
/* 색상표 */
/* 폰트 */
/* 폰트 사이즈 */
/* 트랜지션(transition) */
/* 마진(margin) */
/* 색상표 */
/* 폰트 */
/* 폰트 사이즈 */
/* 트랜지션(transition) */
/* 폰트 스타일(size, weight, line-height...) */
body {
  overflow-x: hidden;
}

main {
  /* visual */
  /* // visual */
  /* what we do */
  /* // what we do */
  /* slogan */
  /* // slogan */
  /* 파트너사 */
  /* // 파트너사 */
}
main .inner {
  padding: 24rem 10rem;
}
main .visual {
  position: relative;
  width: 100vw;
}
main .visual .swvisual-control {
  position: absolute;
  bottom: 14rem;
  left: 7rem;
  z-index: 9;
}
main .visual .swvisual {
  width: 100%;
  height: 100vh;
}
main .visual .swvisual .swiper-slide {
  overflow: hidden;
}
main .visual .swvisual .swiper-slide .inner {
  padding: 10rem 8rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
main .visual .swvisual .swiper-slide .inner .swvisual-title {
  position: relative;
}
main .visual .swvisual .swiper-slide .inner .swvisual-title .title {
  font-size: 9.6rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.192rem;
  line-height: 1.2;
  color: #fff;
}
main .visual .swvisual .swiper-slide .inner .swvisual-title.title-wrap-1 .title-1, main .visual .swvisual .swiper-slide .inner .swvisual-title.title-wrap-3 .title-1 {
  padding-left: 14.8rem;
}
main .visual .swvisual .swiper-slide .inner .swvisual-title.title-wrap-1 .title-3, main .visual .swvisual .swiper-slide .inner .swvisual-title.title-wrap-3 .title-3 {
  padding-left: 23.4rem;
}
main .visual .swvisual .swiper-slide .inner .swvisual-title.title-wrap-2 .title-1,
main .visual .swvisual .swiper-slide .inner .swvisual-title.title-wrap-2 .title-2 {
  padding-left: 14.8rem;
}
main .visual .swvisual .swiper-slide .inner .swvisual-title.title-wrap-2 .title-3 {
  padding-left: 23.4rem;
}
main .visual .swvisual .swiper-slide .inner .swvisual-title .line {
  position: absolute;
}
main .visual .swvisual .swiper-slide .inner .swvisual-title .line.line-1 {
  width: 21.4rem;
  right: 4%;
  bottom: 45%;
}
main .visual .swvisual .swiper-slide .inner .swvisual-title .line.line-2 {
  width: 11.6rem;
  top: 16%;
  left: 0%;
}
main .visual .swvisual .swiper-slide .inner .swvisual-title .line.line-3 {
  width: 14.8rem;
  right: 25%;
  bottom: 13%;
}
main .visual .swvisual .swiper-slide .inner .swvisual-desc {
  margin-bottom: 2.2rem;
}
main .visual .swvisual .swiper-slide .inner .swvisual-desc .desc {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.024rem;
  color: #fff;
}
main .visual .swvisual .swiper-slide video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
main .what {
  position: relative;
}
main .what .inner {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
main .what .inner .title-wrap {
  position: relative;
}
main .what .inner .title-wrap .title {
  position: sticky;
  position: -webkit-sticky;
  top: 24rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.064rem;
}
main .what .inner .item-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem 3rem;
}
main .what .inner .item-wrap .item .img-wrap {
  margin-bottom: 5rem;
}
main .what .inner .item-wrap .item .item-title {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.036rem;
  margin-bottom: 3rem;
}
main .what .inner .item-wrap .item .item-desc {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.02rem;
  margin-bottom: 2rem;
}
main .what .inner .item-wrap .item .item-tag {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
main .what .inner .item-wrap .item .item-tag li {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.032rem;
  height: 6rem;
  width: 100%;
  line-height: 6rem;
  border-bottom: 0.1rem solid #eeeef0;
  padding-left: 0.6rem;
}
main .slogan {
  width: 100vw;
  height: 77.6rem;
  background: url(../../img/main_slogan_bg.jpg) no-repeat center/cover;
  background-attachment: fixed;
}
main .slogan .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 104, 253, 0.66);
}
main .slogan .inner .title {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.064rem;
  color: #fff;
  text-align: center;
}
main .slogan .inner span {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.02rem;
  color: #fff;
}
main .partners {
  text-align: center;
}
main .partners .title {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.064rem;
  margin-bottom: 3rem;
}
main .partners .desc {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.02rem;
}
main .partners .partners-logo {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(7, minmax(22rem, auto));
  gap: 3rem;
}
main .partners .partners-logo .logo-item {
  width: 22rem;
  height: 9rem;
  background-color: #f8f8fa;
}

/* 사업영역 스타일시트 */
/* 마진(margin) */
/* 색상표 */
/* 폰트 */
/* 폰트 사이즈 */
/* 트랜지션(transition) */
/* 마진(margin) */
/* 색상표 */
/* 폰트 */
/* 폰트 사이즈 */
/* 트랜지션(transition) */
/* 폰트 스타일(size, weight, line-height...) */
main .business-title {
  width: 100%;
  margin: 0 auto;
}
main .business-title .title {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.064rem;
  padding: 24rem 0 4rem;
  text-align: center;
}
main .business-title nav {
  border-top: 0.1rem solid #eeeef0;
  border-bottom: 0.1rem solid #eeeef0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main .business-title nav .business-link {
  list-style: none;
  width: 8.5rem;
  height: 8rem;
}
main .business-title nav .business-link a {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.02rem;
  color: #888;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 8rem;
  cursor: pointer;
}
main .business-title nav .business-link a:hover, main .business-title nav .business-link a.active {
  font-weight: 700;
  color: #1d68fd;
}
main .reason-wrap .inner {
  text-align: center;
  padding: 24rem 40rem;
}
main .reason-wrap .inner .mini-title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.024rem;
  color: #1d68fd;
  margin-bottom: 3rem;
}
main .reason-wrap .inner .reason:not(:last-child) {
  margin-bottom: 24rem;
}
main .reason-wrap .inner .reason .title {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.064rem;
  margin-bottom: 3rem;
}
main .reason-wrap .inner .reason .desc {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.02rem;
  color: #444;
}
main .reason-wrap .inner .reason img {
  margin-top: 12rem;
}
main .reason-wrap .inner #curriculum {
  position: relative;
}
main .reason-wrap .inner #curriculum .desc-wrap {
  position: absolute;
  text-align: left;
  right: 8%;
  bottom: 22%;
}
main .reason-wrap .inner #curriculum .desc-wrap .desc:first-child {
  margin-bottom: 3rem;
}
main .reason-wrap .inner #curriculum img {
  margin-top: 6rem;
}/*# sourceMappingURL=styles.css.map */