@import "variables";
@import "mixins";
// 공통적으로 들어가는 레이아웃

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: $black-color;
}
html {
  // font-size: 10px;
  font-size: 0.5208vw;
}
body {
  position: relative;
  font-family: $font;
  // overflow: hidden;
  height: 100%;
}

/* header */
header {
  
  
  .inner {
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    padding: 1.8rem $margin-width-large;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    
    transition: transform 0.3s ease;
    --webkit-transform: all 0.3s ease;
    // background-color: #333;
    
    &.hide {
      // 헤더 숨길때
      transform: translateY(-100%);
    }
    .logo {
      width: 12.5rem;
      height: 3rem;
      background: url(../../img/logo_black.png) no-repeat left/contain;
      transition: background 0.6s ease;
      --webkit-transform: background 0.6s ease;

      &.on {
        background: url(../../img/logo_black.png) no-repeat left/contain;
      }
    }
    .hamburger {
      width: 4rem;
      height: 4rem;
      cursor: pointer;

      .hamburger_box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        width: 100%;
        height: 1rem;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        .line {
          display: block;
          background-color: $black-color;
          width: 100%;
          height: 0.25rem;
          position: absolute;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;

          &-1 {
            top: 0;
          }
          &-2 {
            top: 100%;
          }
        }

        &.active {
          .line-1 {
            background-color: $black-color;
            transform: translateY(0.5rem) translateX(0) rotate(45deg);
          }
          .line-2 {
            background-color: $black-color;
            transform: translateY(-0.5rem) translateX(0) rotate(-45deg);
          }
        }
      }
    }
  }

  .menu {
    position: fixed;
    visibility: hidden;
    // opacity: 0;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white-color;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 $margin-height-large;
    background-image: url(../../img/menu_bg.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    transform: translateY(-100%);
    transition: all 0.6s ease;
    -webkit-transform: all 0.6s ease;

    &.on {
      visibility: visible;
      transform: translateY(0);
    }
    &-wrap {
      // padding: 0 24.6rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 51rem;
      justify-content: space-between;
      width: 100%;

      .category {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        li {
          a {
            @include title-sm;
            color: $black-color;
            position: relative;

            &::before {
              content: "";
              background-image: url(../../img/menu-hover-arrow.png);
              background-size: 5rem 5rem;
              position: absolute;
              left: -8rem;
              top: 8%;
              opacity: 0;
              width: 5rem;
              height: 5rem;
            }

            &:hover {
              color: $primary-color;

              &::before {
                opacity: 1;
              }
            }
          }
        }
      }

      .info-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        .slogan {
          h3 {
            @include title-sm;
            margin-bottom: 3.8rem;
          }
          p {
            @include text-lg;
            color: $gray-600-color;
          }
        }

        .info {
          width: 100%;
          display: grid;
          grid-template-rows: auto 1fr;
          grid-row-gap: 2rem;
          grid-template-columns: 3fr 2fr;
          justify-content: space-between;
          align-items: end;
          margin-bottom: 0.6rem;

          .company {
            grid-column: 1 / 3;
            @include title-2xs;
          }

          .contact {
            @include text-sm;

            li:not(:last-child) {
              margin-bottom: 1.6rem;
            }

            span {
              color: $gray-800-color;

              &.type {
                display: inline-block;
                width: 7rem;
              }
            }
          }
          .sns_link {
            display: flex;
            flex-direction: row;

            a {
              width: 4rem;
              height: 4rem;

              &:not(:last-child) {
                margin-right: 3rem;
              }
            }
          }
        }
      }
    }
  }
}
/* // header */

/* footer */
footer {
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-template-rows: 1fr auto;
  background-color: $black-color;
  padding: 0 $margin-width-large;
  height: 75.6rem;
  position: relative;
  align-items: center;

  .company {
    h4 {
      @include title-sm;
      color: $white-color;
      margin-bottom: 2rem;
    }
    span {
      color: $gray-600-color;
      @include text-md;
    }
    .sns_link {
      height: 7rem;
      display: flex;
      flex-direction: row;
      margin-top: 6rem;

      a {
        border-radius: 50%;
        border: solid 0.1rem $gray-600-color;
        cursor: pointer;
        height: 7rem;
        width: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &:not(:last-child) {
          margin-right: 2rem;
        }

        img {
          width: 2.4rem;
          height: 2.4rem;
        }
      }
    }
  }

  .next {
    cursor: pointer;
    a {
      position: relative;
      color: $white-color;
      font-size: 15rem;
      font-weight: 600;
      line-height: $line-height-xs;
      letter-spacing: -0.3rem;

      &::after {
        content: "";
        position: absolute;
        background-image: url(../../img/footer-arrow.png);
        background-size: 13rem 13rem;
        right: -60%;
        top: 18%;
        width: 13rem;
        height: 13rem;
        transition: right 0.2s ease-in-out;
        --webkit-transition: right 0.2s ease-in-out;
      }
    }
    &:hover {
      a::after {
        right: -70%;
      }
    }
  }
  .info-wrap {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 7fr 5fr;
    margin-bottom: 3rem;

    .info {
      align-items: end;
      display: flex;
      flex-direction: row;

      ul {
        &:not(:last-child) {
          margin-right: 3rem;
        }

        li {
          @include caption-text;
          display: inline;

          &.type {
            color: $gray-200-color;
            margin-right: 1.2rem;
          }
          &.desc {
            color: $gray-600-color;
          }
        }
      }
      &.right {
        justify-content: space-between;

        .ul-item {
          margin-left: 1.5rem;

          ul:first-child {
            margin-bottom: 0.8rem;
          }
        }

        .desc {
          @include caption-text;
          display: inline;
          color: $gray-600-color;
        }
      }
    }
  }
  .goTop {
    position: absolute;
    right: $margin-width-large;
    top: $margin-width-large;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border: 0.1rem solid $gray-600-color;
    border-radius: 50%;
    cursor: pointer;

    span {
      @include caption-text;
      color: $gray-200-color;
    }
  }
}
/* // footer */
