@import "variables";
@import "mixins";

// 메인페이지 스타일시트
body {
  overflow-x: hidden;
}
main {
  .inner {
    padding: $margin-height-large $margin-width-large;
    
    @include mobile {
      padding: ($margin-height-large * 0.5) ($margin-width-large * 0.3);

    }
  }
  /* visual */
  .main-visual {
    position: relative;
    width: 100vw;
    .swvisual-control {
      position: absolute;
      bottom: 14rem;
      left: 7rem;
      z-index: 9;
    }

    .swvisual {
      width: 100%;
      height: 100vh;

      .swiper-slide {
        overflow: hidden;

        .inner {
          padding: $margin-width-large calc($margin-height-large / 3);
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: space-between;

          .swvisual-title {
            position: relative;
            width: 100%;
            .title {
              @include title-lg;
              line-height: $line-height-xs;
              color: $white-color;
            }
            &.title-wrap-1,
            &.title-wrap-3 {
              .title-1 {
                padding-left: 14.8rem;
              }
              .title-3 {
                padding-left: 23.4rem;
              }
            }
            &.title-wrap-2 {
              .title-1,
              .title-2 {
                padding-left: 14.8rem;
              }
              .title-3 {
                padding-left: 23.4rem;
              }
            }

            .line {
              position: absolute;

              &.line-1 {
                width: 21.4rem;
                right: 4%;
                bottom: 45%;
              }

              &.line-2 {
                width: 11.6rem;
                top: 16%;
                left: 0%;
              }

              &.line-3 {
                width: 14.8rem;
                right: 25%;
                bottom: 13%;
              }
            }
          }
          .swvisual-desc {
            margin-bottom: 2.2rem;
            .desc {
              @include text-xl;
              color: $white-color;
            }
          }
        }
        video {
          width: 100%;
          height: 100vh;
          object-fit: cover;
        }
      }
    }
  }
  /* // visual */

  /* what we do */
  .what {
    position: relative;
    .inner {
      display: grid;
      grid-template-columns: 1fr 2fr;

      .title-wrap {
        position: relative;

        .title {
          position: sticky;
          position: -webkit-sticky;
          top: $margin-height-large;
          @include title-md;
        }
      }

      .item-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8rem 3rem;

        .item {
          .img-wrap {
            margin-bottom: 5rem;

            img {width: 100%;}
          }
          .item-title {
            @include title-xs;
            margin-bottom: 3rem;
          }
          .item-desc {
            @include text-lg;
            margin-bottom: 2rem;
            word-break: keep-all;
          }
          .item-tag {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 3rem;
            li {
              @include text-md;
              height: 6rem;
              width: 100%;
              line-height: 6rem;
              border-bottom: 0.1rem solid $gray-200-color;
              padding-left: 0.6rem;
            }
          }
        }
      }
    }
  }
  /* // what we do */
  /* slogan */
  .slogan {
    width: 100vw;
    height: 77.6rem;
    background: url(../../img/main_slogan_bg.jpg) no-repeat center/cover;
    background-attachment: fixed;

    .inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      width: 100%;
      height: 100%;
      background-color: rgba($color: $primary-color, $alpha: 0.66);

      .title {
        @include title-md;
        color: $white-color;
        text-align: center;
      }

      span {
        @include text-lg;
        color: $white-color;
        text-align: center;
      }
    }
  }
  /* // slogan */

  /* 파트너사 */
  .partners {
    text-align: center;

    .title {
      @include title-md;
      margin-bottom: 3rem;
    }
    .desc {
      @include text-lg;
    }

    .partners-logo {
      margin-top: 7rem;
      display: grid;
      grid-template-columns: repeat(7, minmax(22rem, auto));
      gap: 3rem;

      .logo-item {
        width: 100%;
        height: 9rem;
        background-color: $gray-100-color;

        .logo-img {
          width: 100%;
        }
      }
    }
  }
  /* // 파트너사 */

  @include mobile {
    // visual 시작
    .main-visual {
      .swvisual{
        .swiper-slide {
          .inner {
            padding: ($margin-height-large * 0.5) ($margin-width-large * 0.3);
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            row-gap: 8rem;

            .swvisual-title {
              .title {
                font-size: clamp(3rem, 6.25vw, 4.8rem);
              }
              &.title-wrap-1,
              &.title-wrap-3 {
                .title-1 {
                  padding-left: 12%;
                }
                .title-3 {
                  padding-left: 20%;
                }
              }
              &.title-wrap-2 {
                .title-1,
                .title-2 {
                  padding-left: 12%;
                }
                .title-3 {
                  padding-left: 20%;
                }
              }

              .line {
                &.line-1 {
                  width: 16%;
                  right: 24%;
                  bottom: 45%;
                }
  
                &.line-2 {
                  width: 7%;
                  top: 16%;
                  left: 0%;
                }
  
                &.line-3 {
                  width: 14%;
                  right: 32%;
                  bottom: 13%;
                }
              }
            }
            .swvisual-desc {
              margin-bottom: 0;
              margin-left: 50%;
            }
          }
        }
      }
    }
    // visual 끝

    // what to do 시작
    .what {
      .inner {
        grid-template-columns: none;
        row-gap: 4rem;

        .item-wrap {
          grid-template-columns: repeat(1, 1fr);

          .item {
            .item-title {
              margin-bottom: 2rem;
            }
            .item-tag {
              column-gap: 1.2rem;
            }
          }
        }
      }
    }
    // what to do 끝

    // slogan 시작
    .slogan {
      height: auto;

      .inner {
        row-gap: 4rem;

        .title {
          @include title-sm;
        }
      }
    }
    // slogan 끝
    
    // 파트너사 시작
    .partners {
      .partners-logo {
        grid-template-columns: repeat(3, auto);
        gap: 1rem;

        .logo-item {
          width: 100%;
          height: auto;
        }
      }
    }
    // 파트너사 끝
  }
}
