@import "./variables";
// breakpoint

@mixin mobile {
  // max-width: 768px
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

/* 폰트 스타일(size, weight, line-height...) */
@mixin title-lg {
  font-size: $title-lg;
  font-weight: 600;
  line-height: $line-height-md;
  letter-spacing: -0.192rem;
  @content;

  @include mobile {
    font-size: 8rem;
  }
}

@mixin title-md {
  font-size: $title-md;
  font-weight: 700;
  line-height: $line-height-md;
  letter-spacing: -0.064rem;
  @content;

  @include mobile {
    font-size: 4.8rem;
  }
}

@mixin title-sm {
  font-size: $title-sm;
  font-weight: 700;
  line-height: $line-height-sm;
  letter-spacing: -0.048rem;
  @content;

  @include mobile {
    font-size: 3.6rem;
  }
}

@mixin title-xs {
  font-size: $title-xs;
  font-weight: 700;
  line-height: $line-height-sm;
  letter-spacing: -0.036rem;
  @content;

  @include mobile {
    font-size: 2.6rem;
  }
}

@mixin title-2xs {
  font-size: $title-2xs;
  font-weight: 700;
  line-height: $line-height-sm;
  letter-spacing: -0.024rem;
  @content;

  @include mobile {
    font-size: 2rem;
  }
}

@mixin text-xl {
  font-size: $text-xl;
  font-weight: 400;
  line-height: $line-height-lg;
  letter-spacing: -0.024rem;
  @content;

  @include mobile {
    font-size: 2rem;
  }
}

@mixin text-lg {
  font-size: $text-lg;
  font-weight: 400;
  line-height: $line-height-lg;
  letter-spacing: -0.02rem;
  @content;

  @include mobile {
    font-size: 1.8rem;
  }
}

@mixin text-md {
  font-size: $text-md;
  font-weight: 400;
  line-height: $line-height-lg;
  letter-spacing: -0.032rem;
  @content;

  @include mobile {
    font-size: 1.8rem;
  }
}

@mixin text-sm {
  font-size: $text-sm;
  font-weight: 400;
  line-height: $line-height-md;
  letter-spacing: -0.028rem;
  @content;

  @include mobile {
    font-size: 1.6rem;
  }
}

@mixin caption-text {
  font-size: $caption-text;
  font-weight: 400;
  line-height: $line-height-md;
  letter-spacing: -0.012rem;
  @content;

  @include mobile {
    font-size: 1.4rem;
  }
}

@mixin button-text {
  font-size: $button-text;
  font-weight: 400;
  line-height: $line-height-md;
  letter-spacing: -0.012rem;
  @content;

  @include mobile {
    font-size: 1.4rem;
  }
}

// @mixin title-md {
//   font-size: $title-md;
//   font-weight: 700;
//   line-height: $line-height-md;
//   letter-spacing: -0.064rem;
//   @content;
// }


@mixin rolling-origin-right {
  animation: 100s linear 0s infinite normal forwards running rollingoriginalright;

  @keyframes rollingoriginalright {
    0% {
      transform: translateX(0);
    }
  
    50% {
      transform: translateX(100%);
    }
  
    50.01% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
}

@mixin rolling-clone-right {
  animation: 100s linear 0s infinite normal none running rollingcloneright;

  @keyframes rollingcloneright {
    0% {
      transform: translateX(-200%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
}
@mixin rolling-origin-left {
  animation: 100s linear 0s infinite normal forwards running rollingoriginalleft;

  @keyframes rollingoriginalleft {
    0% {
      transform: translateX(0);
    }
  
    50% {
      transform: translateX(-100%);
    }
  
    50.01% {
      transform: translateX(100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
}

@mixin rolling-clone-left {
  animation: 100s linear 0s infinite normal none running rollingcloneleft;

  @keyframes rollingcloneleft {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(-200%);
    }
  }
}
