// 변수 저장

/* 마진(margin) */
// 너비
$margin-width-large: 10rem;
$margin-height-large: 24rem;

/* 색상표 */
$black-color: #333;
$primary-color: #1d68fd;
$gray-800-color: #444;
$gray-600-color: #888;
$gray-400-color: #e6e6e3;
$gray-200-color: #eeeef0;
$gray-100-color: #f8f8fa;
$white-color: #fff;

/* 폰트 */
$font: "SUIT", -apple-system, Apple SD Gothic Neo, 맑은 고딕, Malgun Gothic,
sans-serif;

/* 폰트 사이즈 */
$title-lg: 9.6rem;
$title-md: 6.4rem;
$title-sm: 4.8rem;
$title-xs: 3.6rem;
$title-2xs: 2.4rem;

$text-xl: 2.4rem;
$text-lg: 2rem;
$text-md: 1.6rem;
$text-sm: 1.4rem;

$caption-text: 1.2rem;
$button-text: 1.2rem;

$line-height-lg: 1.6;
$line-height-md: 1.4;
$line-height-sm: 1.3;
$line-height-xs: 1.2;

/* 트랜지션(transition) */
$duration-long: 600ms;
$duration-base: 300ms;
$easeInOut: ease-in-out;



