@import "../variables";
@import "../mixins";

#consulting-table {
  & > * > * {
    grid-template-columns: 20% repeat(4, 1.4fr);
  }
  .main-table {
    grid-template-rows: auto repeat(3, 16rem);
    .price {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;

      @include mobile {
        flex-direction: column;
      }
    }
  }
  .sub-table {
    // grid-template-rows: auto repeat(2, 12rem);
    grid-template-rows: auto repeat(2, 1fr);

    .price {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;

      @include mobile {
        flex-direction: column;
      }
    }

    .service {
      grid-column: 3 / 6;
    }
  }
  
}
